{% extends 'base.html' %}

{% block title %}
Deliveries
{% endblock %}

{% block nav %}
{% with nav_selection='deliveries' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content_title %}
Delivery requests
{% endblock %}

{% block content %}
{% for delivery in deliveries %}
<div class="accordion-group">
	<div class="accordion-heading">
		<div class="row-fluid">
			<div class="accordion-toggle pagination-centered">
				<div class="span3">
					<a data-toggle="collapse" data-target="#collapse_delivery_{{ forloop.counter }}"> 
						{{ delivery.address }}
					</a>
				</div>
			   	<div class="span4">
					Pickup date: {{ delivery.pickup|date:'D m/d/y fA' }} <br/> Delivery date: {{ delivery.delivery|date:'D m/d/y fA' }}
				</div>
				<div class="span5">
					{{ delivery.description }}
				</div>
			</div>
		</div>
	</div>
	<div id="collapse_delivery_{{ forloop.counter }}" class="accordion-body collapse in"> 
		<div class="accordion-inner"> 
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td width=30%>Driver name</td>
						<td width=30%>Estimated delivery</td>
						<td width=20%>Amount</td>
						<td width=20%>Status</td>
					</tr>
				</thead>
				{% for bid in delivery.bid_set.all %}
					<tr>
						<td>{{ bid.delivery_user.user.get_full_name }}</td>
						<td>{{ bid.estimated|date:"D m/d/Y, f A" }}</td>
						<td>${{ bid.amount }}</td>
						<td>
							{% if bid == delivery.accepted %}
							{% if delivery.delivered %}
							Delivered {{ delivery.delivered }}
							{% elif delivery.pickedup %}
							Picked up {{ delivery.pickedup }}
							{% else %}
							<a class="btn btn-success" href="{% url store.views.pickedup delivery.pk %}">
								Picked up
							</a>
							{% endif %}
							{% elif not delivery.accepted %}
							<a class="btn btn-success" href="{% url store.views.accept bid.pk %}">
								Accept
							</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
		   	</table>
		</div>
	</div> 
</div>
{% endfor %}
{% endblock %}
