{% extends 'base.html' %}

{% block title %}
Add store
{% endblock %}

{% block nav %}
{% with nav_selection='new_store' %}
{{ block.super }}
{% endwith %}
{% endblock %}
{% block content_title %}
Add store
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="accordion-inner">
	<div style="width:30em;margin-left:6em;margin-right:6em;color:#FF0000">
	{{ form.errors }}
	</div>
</div>
{% endif %}
*Required fields
<form action="{{ request.url }}" method="post" class="form-horizontal">{% csrf_token %}
	{{ form }} 
	<div class="pagination-centered">
		<button class="btn btn-primary" type="submit">Add store</button>
	</div>
</form>
{% endblock %}
